.header {
  height: 100px;
  width: 100%;

  background-color: #f26c4f;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .viewAccountButton {
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .viewApplicationsButton {
    height: 50px;
    width: 200px;
    background-color: white;
    color: #393939;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }


}
